name: Maven Deploy Artifact

on:
  push:
    branches:
      - 'master'
      - 'main'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    uses: valitydev/java-workflow/.github/workflows/maven-service-deploy.yml@v2
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      mm-webhook-url: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
